.aboutP-header {
    padding: 60px 120px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.aboutP-title {
    font-size: 3rem;
    line-height: 2.8rem;
    color: var(--primary-color-1);
}
.aboutP-text {
    width: 60%;
    color: var(--main-black);
    opacity: .8;
}
.aboutP-text,
.aboutP-text > .logo1 {
    font-size: 1rem;
}
.aboutP-text > .logo1 > span {
    font-size: 1.2rem;
}
/* About body */

.about-body {
    padding: 60px 120px 120px;
}
.about-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}
.about-item {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 25px -10px #0006;
    height: 300px;
    transition: var(--main-transition);
}
.about-item:hover {
    box-shadow: 0 0 35px -10px #0006;
}
.about-item:nth-of-type(even) {
    flex-direction: row-reverse;
}
.about-item .det {
    width: 60%;
    padding: 20px 40px;
}
.about-item .det > h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--primary-color-1);
    padding-left: 20px;
    margin-bottom: 20px;
    position: relative;
}
.about-item .det > h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 5px;
    border-radius: 2px;
    background-color: var(--primary-color-1);
}
.about-item .det > p {
    opacity: .8;
    font-size: .9rem;
}
.about-item .img {
    width: 40%;
    height: 100%;
    position: relative;
}
.about-item .img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #0006;
    transition: var(--main-transition);
}
.about-item:hover .img::after {
    height: 0;
    background-color: #0000;
}
.about-item .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}