.single-recipe-body {
    color: var(--main-black);
}
.single-recipe-body > .banner {
    background-image: url("../../public/banner-recipe.jpg") !important;
}

.s-recipe-top {
    padding: 60px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s-recipe-top .s-recipe-title {
    font-size: 2rem;
}
.s-recipe-top > .s-save {
    font-size: 2rem;
}
.s-recipe-top > .s-save svg > path {
    fill: #f2130f;
}
.s-recipe-body-det {
    padding: 0 120px 60px;
    display: flex;
    gap: 40px;
    flex-direction: row-reverse;
}
.s-recipe-left {
    width: 45%;
}
.s-recipe-img-container {
    border-radius: 50% 0 0 50%;
    overflow: hidden;
    height: 450px;
    box-shadow: 0 0 35px -10px #000c;
}
.s-recipe-img-container > img {
    height: 100%;
    object-fit: cover;
}

.s-recipe-right {
    width: 55%;
    font-size: .9rem;
}
.s-recipe-right > .s-recipe-title {
    font-size: 1.1rem;
    padding: 0 0 12px 12px;
    color: var(--primary-color-1);
}
.s-recipe-right > .s-recipe-det {
    margin-bottom: 20px;
}