.create-page > .banner {
    background-image: url("../../../public/chef-cooking.jpg");
    background-position: top !important;
}
.cre-rec-body {
    padding: 60px 120px 120px;
    display: flex;
    align-items: flex-start;
    gap: 60px;
}
.cre-rec-body > .left {
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: center;
    gap: 60px;
}
.cre-rec-body > .left > p {
    font-size: .9rem;
    opacity: .8;
    color: var(--main-black);
}
.cre-rec-body > .left > .cre-rec-img-container {
    width: 60%;
}
.cre-rec-body > .left > .cre-rec-img-container img {
    height: 100%;
    object-fit: cover;
    transform: rotateY(180deg);
}
.cre-rec-body > .right {
    width: 45%;
}


@media screen and (max-width : 820px) {
    .cre-rec-body {
        padding: 30px 60px 60px;
        flex-direction: column;
        align-items: center;
    }
    .cre-rec-body > .left {
        width: 75%;
        gap: 30px;
    }
    .cre-rec-body > .right {
        width: 85%;
    }
}
@media screen and (max-width: 667px) {
    .cre-rec-body {
        padding: 30px 30px 60px;
    }
    .cre-rec-body > .left {
        width: 100%;
        gap: 30px;
    }
    form.create-form {
        width: auto ;
    }
}
